/*Стили для второй страницы - можно вынести в отдельный файл*/

.fears__main {
  display: grid;
  grid-template-columns: 1fr 282px;
  grid-template-rows: 1em auto auto;
}

#fears__main-article p {
  line-height: 24px;
  padding: 12px 0;
  margin: 0;
}

#fears__main-article div {
  line-height: 24px;
  padding: 12px 0;
  margin: 0;
}

#fears__main-article section {
  padding: 12px 0;
  margin: 0;
}

#fears__main-article li {
  line-height: 24px;
  color: #03b2a5;
}

#fears__main-article span {
  color: black;
}

#fears__main-article {
  margin-right: 228px;
  grid-column: 1;
  grid-row: 2;
  font-size: 16px;
  font-weight: 500;
}

#fears__aside-bottom {
  grid-column: 1 / 3;
  grid-row: 3;
  max-height: 500px;
}

#fears__main_photo {
  width: 100%;
  max-height: 331px;
  object-fit: cover;
}

#subhead li {
  list-style: none;
}

#subhead {
  list-style: none;
}

.quote {
  background-color: #f3f7fe;
  width: 100%;
  position: relative;
  border-radius: 16px;
  margin-top: 40px;
}

.quote::before {
  content: "“";
  position: absolute;
  left: 20px;
  color: rgba(0, 0, 0, 0.06);
  font-size: 120px;
}

.quote blockquote {
  padding: 34px 24px 24px;
  margin: 0;
}

.quote p {
  margin: 0;
}

.quote p:nth-child(2) {
  padding-top: 8px;
}

.fears__photo-two {
  margin: 0;
}

.fears__photo-two figcaption {
  color: #868686;
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;
}

.fears__text-in-vector {
  position: relative;
  padding: 0;
}

.fears__text-in-vector p {
  position: relative;
  text-align: center;
  padding: 24px 102px 48px !important;
  z-index: 3;
}

.fears__text-in-vector img {
  position: absolute;
  top: 0;
  left: 25%;
}

#fears__photo-tree,
#fears__photo-four {
  display: flex;
  column-gap: 24px;
}

#fears__photo-tree img {
  height: 380px;
}

.exersice {
  background-color: #fefaec;
  padding: 24px 24px 12px !important;
  border-radius: 16px;
}

.exersice.two {
  background-color: #fff3eb !important;
}

.exersice.tree {
  background-color: rgba(3, 178, 165, 0.1) !important;
}

.fears__two-colums {
  column-count: 2;
}

#fears__line {
  margin: auto;
}

.fears__tags ul {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  flex-wrap: wrap;
  column-gap: 8px;
  list-style: none;
}

.fears__tags a {
  text-decoration: none;
  color: #2963a3;
}

#fears__aside-bottom article {
  display: flex;
  padding: 72px 0 108px;
  position: relative;
  margin-right: 0;
}

#fears__aside-bottom div {
  margin: 0;
  width: 348px;
}

#fears__aside-bottom div {
  margin: 0;
  width: 348px;
  margin-right: 303px;
}

#vector_red_circle {
  position: absolute;
  right: 0;
  margin-right: -120px;
}

.btn {
  padding: 20px 24px;
}

.btn,
.aside-right__btn {
  background-color: #16c8bb;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.aside-right__btn {
  padding: 12px auto;
  height: 48px;
}

#fears__aside-right {
  grid-column: 2;
  grid-row: 2;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  grid-gap: 26px;
}

#fears__aside-right_part_one {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #e6f0fd;
  text-align: center;
  justify-content: space-between;
  height: 512px;
  padding: 24px;
  border-radius: 16px;
}

#fears__aside-right_part_one p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#fears__aside-right_part_two {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dedede;
  border-radius: 16px;
  padding: 24px 16px 36px;
  height: 481px;
}

#fears__aside-right_part_two hr {
  width: 100%;
}

.profile p {
  text-align: center;
  margin: 0;
}

#name {
  font-size: 20px;
  font-weight: bold;
}

#prof {
  font-size: 16px;
  font-weight: 600;
}

#experience {
  font-size: 14px;
  font-weight: 500;
  color: #a2a7b1;
}

#fears__aside-right_part_two section ul {
  margin: 0;
  padding: 0;
}

#fears__aside-right_part_two section li {
  padding-left: 16px;
  margin: 4px 0;
  list-style: none;
  position: relative;
}

#fears__aside-right_part_two section li:before {
  position: absolute;
  content: "\02D9";
  font-size: 3rem;
  left: 0;
  top: -7px;
  color: #03b2a5;
}

#fears__aside-right_part_two img {
  border-radius: 100%;
  margin: 24px auto 16px;
}

.fears__aside-right_part_two_tags span {
  background-color: rgba(243, 244, 248, 0.7);
  border-radius: 4px;
  display: inline-flex;
  flex-wrap: nowrap;
}

.fears__aside-right_part_two_tags ul {
  list-style: none;
  position: absolute;
  top: 16px;
  left: 16px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-gap: 8px;
}

#fears__aside-right_part_tree {
  background-image: url(images/gifts.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 292px;
  color: white;
  font-size: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 16px;
}

#fears__aside-right_part_tree p {
  position: absolute;
  top: 60px;
  max-width: 234px;
}

#fears__aside-right_part_four {
  box-sizing: border-box;
  padding: 32px;
  height: 304px;
  border: 1px solid #dedede;
  border-radius: 24px;
  position: relative;
}

#fears__aside-right_part_four img {
  position: absolute;
  bottom: 0;
  right: 0;
}

#fears__aside-right_part_four__h {
  color: #2963a3;
  font-size: 18px;
  font-weight: bold;
}

#fears__aside-right_part_four__p {
  font-size: 14px;
  margin: 16px 0;
  width: 75%;
}

#fears__aside-right_part_four__price {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}



@media (max-width: 1199px) {
  .fears__tags {
    display: none;
  }

  #fears__aside-bottom {
    display: none;
  }

  h1 {
    font-size: 40px;
  }
}