@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./css/page/page.css";
@import "./css/article.css";


html {
  margin: 0 auto;
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0 120px;
  font-family: "Montserrat";
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

button {
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.article {
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
  box-sizing: border-box;
  & p {
    font-size: 16px;
    padding-bottom: 10px;
  }

  & span {
    font-size: 20px;
  }
}

.picture {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  height: 260px;
}



@media (min-width: 992px) and (max-width: 1199px) {
  body {
    margin: 0 32px;
  }

  h1 {
    font-size: 36px;
  }

  .articles__section-one {
    grid-template-columns: repeat(2, 468px);
    column-gap: 24px;
  }

  .articles__section-two {
    grid-template-columns: repeat(3, 304px);
    grid-template-rows: repeat(2, 458px);
    column-gap: 24px;
  }

  footer {
    padding: 40px 32px 17px;
    margin: 0 -32px;
  }

  .footer__menu ul {
    column-gap: 30px;
  }

  .article__text {
    & p {
      font-size: 12px;
      margin: 5px 0;
    }
    & h2 {
      font-size: 16px;
    }
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 34px;
  }

  #fears__main-article {
    margin-right: 0;
  }

  #fears__aside-right {
    margin: 56px 0;
    grid-row: 4;
    grid-column: 1;
    display: grid;
  }

  .header__hamburger_menu {
    display: block;
    position: absolute;
    right: 0;
  }

  .header__button {
    display: none;
  }

  .header__menu {
    display: none;
  }

  #fears__aside-right_part_two,
  #fears__aside-right_part_one {
    height: 471px;
    padding-bottom: 14px;
  }

  #fears__aside-right_part_one img {
    height: 257px;
  }

  #fears__aside-right_part_tree,
  #fears__aside-right_part_four {
    height: 282px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  /* Большие планшеты или небольшие лэптопы */
  body {
    margin: 0 20px;
  }

  .articles__section-one {
    grid-template-columns: 728px;
    column-gap: 24px;
  }

  .articles__section-two {
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(3, 446px);
    column-gap: 24px;
  }

  #fears__aside-right {
    display: grid;
    grid-template-columns: repeat(2, 356px);
  }

  footer {
    padding: 40px 20px 17px;
    margin: 0 -20px;
  }

  .footer__menu ul {
    column-gap: 30px;
  }

  .article__picture.one {
    height: 260px;
  }

  .article__picture.two {
    height: 206px;
  }

  .tags ul {
    flex-wrap: wrap;
    column-gap: 8px;
  }

  .footer__menu ul {
    margin-bottom: 20px;
  }

  .fears__main {
    display: grid;
    grid-template-columns: 728px;
    grid-template-rows: 1fr auto auto auto;
  }
}

@media (max-width: 479px) {
  .tags ul {
    overflow-x: auto;
    overflow-y: hidden;
  }

  /*Тэги, где есть смайл - вылазят за границу. Как исправить?*/

  .tags ul li span {
    white-space: nowrap;
  }

  .article__picture {
    height: 206px;
  }

  .articles__section-one,
  .articles__section-two {
    grid-template-columns: 1fr;
  }

  .hidden {
    display: none;
  }

  .footer__section-two p {
    margin: 10px 0px;
  }

  .fears__main {
    display: grid;
    grid-template-columns: 1fr;
    /*    grid-template-rows: 1em auto auto;*/
  }

  .fears__text-in-vector p {
    padding: 24px 0 48px !important;
  }

  #fears__photo-tree,
  #fears__photo-four {
    display: flex;
    flex-direction: column;
  }

  .fears__two-colums {
    column-count: 1;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  /* Смартфоны */
  body {
    margin: 0 20px;
  }

  .footer__menu ul {
    column-gap: 158px;
    padding-bottom: 23px;
  }

  .footer__section-two {
    flex-direction: column;
  }

  h1 {
    font-size: 32px;
  }
}

@media (max-width: 320px) {
  /* Самые маленькие разрешения экранов на смартфонах */
  body {
    margin: 0 16px;
  }

  h1 {
    font-size: 24px;
  }

  .footer__menu ul {
    column-gap: 71px;
    padding-bottom: 23px;
  }

  .email button {
    display: none;
  }
}
